#clock{
    font-size: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: url(morning.jpg);
        background-size: cover;
      }